Header set Access-Control-Allow-Origin "http://mapler.me"

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	Options +Indexes
	RewriteEngine On

	RewriteRule ^search/([^.]*)/([^/]*)$ /search/index.php?type=$1&type=$2 [L,QSA]
	
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.php -f 
	RewriteRule ^(.*)([^/]*)$ $1.php [QSA]
		
	# page rewrites
	
	RewriteRule ^developers/ api.php
	RewriteRule ^intro/ about.php
	RewriteRule ^login/ login.php
	RewriteRule ^signup/ register.php
	RewriteRule ^terms/ terms.php
	RewriteRule ^todo/ todo.php
	RewriteRule ^contest/ contest.php
	RewriteRule ^characters characters.php
	RewriteRule ^team/ team.php
	RewriteRule ^developers/ dev.php
	RewriteRule ^support/ /actions/support_email.php
	RewriteRule ^cdn/ /actions/cdn_upload.php
	
	# Status APIs
	RewriteRule ^api/list/(.*)/(.*)/$ /actions/ajax/status.php?type=list&lastpost=$1&mode=$2
	RewriteRule ^api/blog/$ /actions/ajax/status.php?type=blog
	RewriteRule ^api/status/delete/(\d+)/$ /actions/ajax/status.php?type=delete&id=$1
	RewriteRule ^api/status/post/$ /actions/ajax/status.php?type=post
	RewriteRule ^api/status/(.*)/$ /actions/ajax/status.php?type=responses&statusid=$1
	
	# Info Syncing
	RewriteRule ^ajax/sync/$ /actions/ajax/polling.php?type=info
	
	# image / ranking rewrites
	
	RewriteRule ^card/([^\./]*) /actions/character_image.php?name=$1 [L,QSA]
	# RewriteRule ^avatar/([^\./]*) /actions/character_avatar.php?name=$1 [L,QSA]
	RewriteRule ^avatar/([^\./]*) /actions/character_avatar_layered.php?name=$1 [L,QSA]
	RewriteRule ^avatar2/([^\./]*) /actions/character_avatar_layered.php?name=$1 [L,QSA]
	# RewriteRule ^ignavatar/([^\./]*) /actions/character_avatar.php?name=$1&show_name [L,QSA]
	RewriteRule ^ignavatar/([^\./]*) /actions/character_avatar_layered.php?name=$1&show_name [L,QSA]
	RewriteRule ^infopic/([^\./]*) /actions/character_stats.php?name=$1 [L,QSA]
	
	# character / player rewrites
	RewriteRule ^player/([^/]*)$ /components/character.php?name=$1
	RewriteRule ^guild/([^/]*)/([^/]*)$ /components/guild.php?world=$1&name=$2
	
</IfModule>

Options -Indexes

#Errors
ErrorDocument 400 /actions/error/index.php
ErrorDocument 401 /actions/error/index.php
ErrorDocument 403 /actions/error/index.php
ErrorDocument 404 /actions/error/index.php
ErrorDocument 500 /actions/error/index.php

#Reduce css size by 80%
AddOutputFilterByType DEFLATE text/css

#Firefox Fix: Allow fonts to be requested from other subdomains (profiles)
AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
<FilesMatch "\.(ttf|otf|eot)$">
<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>
</FilesMatch>