/* ==================================================
   Header
================================================== */

header {
	width: 100%;
	z-index: 99;
}

header .sticky-nav {
	position: relative;
	height: 60px;
	z-index: 1001;
	margin:0 auto;
	
	border-bottom: 1px solid #fafafa;
	background: #f6f6f6;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f6f6f6 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #f6f6f6 0%,#eaeaea 100%);
	background: -o-linear-gradient(top, #f6f6f6 0%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #f6f6f6 0%,#eaeaea 100%);
	background: linear-gradient(to bottom, #f6f6f6 0%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eaeaea',GradientType=0 );
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
	box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
	margin-bottom: 80px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.55);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.55);
}

header .sticky-nav.stuck {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1001;
}

header #logo {
	float: left;
	padding: 10px 0;
	margin-left: 20px;
}

header #logo a {
	height: 30px;
	display: block;
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transition: opacity 0.25s ease-in-out 0s;	
	   -moz-transition: opacity 0.25s ease-in-out 0s;
		 -o-transition: opacity 0.25s ease-in-out 0s;
		    transition: opacity 0.25s ease-in-out 0s;	
}

header #logo a:hover {
	opacity: 0.65;
	filter: alpha(opacity=65);	
}

nav#menu {
	float: right;
	margin-right: 20px;
}

nav#menu #menu-nav {
	margin: 0;
	padding: 0;	
}

nav#menu #menu-nav li {
	list-style: none;
	display: inline-block;
	margin-left: 30px;	
}

nav#menu #menu-nav li:first-child {
	margin-left: 0;	
}

nav#menu #menu-nav li a {
	color: #7E7E7E;
	font-size: 16px;
	font-weight: 300;
	line-height: 60px;
	display: block;
}

nav#menu #menu-nav li.current a,
nav#menu #menu-nav li a:hover {
	color: #4C4F55;
}

/* right */

nav#rightmenu {
	float: left;
	margin-right: 20px;
	margin-left:20px;
}

nav#rightmenu #menu-rightnav {
	margin: 0;
	padding: 0;	
}

nav#rightmenu #menu-rightnav li {
	list-style: none;
}

nav#rightmenu #menu-rightnav li:first-child {
	margin-left: 0;	
}

nav#rightmenu #menu-rightnav li a {
	color: #7E7E7E;
	font-size: 16px;
	font-weight: 300;
	line-height: 60px;
	display: block;
}

nav#rightmenu #menu-rightnav li form {
	color: #AEAEAE;
	font-size: 16px;
	font-weight: 300;
	line-height: 60px;
	display: block;
}

nav#rightmenu #menu-rightnav li.current a,
nav#rightmenu #menu-rightnav li a:hover {
	color: #4C4F55;
}

@media (min-width: 1px) and (max-width: 767px) {
	.hidemobile {
		display:none;
	}
}


/* Retina Display */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
 	only screen and (-moz-min-device-pixel-ratio: 2),
  	only screen and (-o-min-device-pixel-ratio: 2/1),
  	only screen and (min-device-pixel-ratio: 2),
  	only screen and (min-resolution: 2dppx) {
		
		header #logo a {
			background-image: url(../img/logo_@2x.png);
			background-size: 96px 30px;
		}
		
		.menu-nav {
			background-image: url(../img/menu-mobile_@2x.png);
			background-size: 16px 32px;
		}
		
		.type-work {
			background-image: url(../img/filter-icon_@2x.png);
			background-size: 16px 16px;
		}
		
		.sep .separator {
			background-image: url(../img/seperator_@2x.png);
			background-size: 24px 24px;
		}
	}