/* general */

h2 {
margin:10px 0px 10px 20px;
padding-bottom:10px;
border-bottom: 1px solid rgba(0,0,0,0.3);
}

#settings-form .item {
	padding: 15px 0;
	overflow: hidden;
}

#settings-form .label {
	font-size: 18px;
	text-align: right;
	padding: 13px 0;
}

#settings-form input[type=text], #settings-form input[type=password], #settings-form textarea {
width: 100%;
height: auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 18px;
line-height: normal;
background: #fff;
margin: 0;
padding: 10px;
}