/** Layout And Stuffs **/

.avatar {
	width:200px;
}

.name {
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	font-size: 26px;
	letter-spacing: 1px;
	color: #777;
}

.name_extra {
	font-weight: 200;
	letter-spacing: normal;
	color: #999;
	font-size: 15px;
}

hr {
	margin: 0 auto;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #CCC;
	width: 95%;
	margin-top: 15px;
	margin-bottom: 15px;
	clear: both;
}

.visibility-toggler {
	width: 10px;
	height: 10px;
	background-color: green;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.hidden-obj {
	background-color: red;
}

.side {
	font-weight: 200;
	letter-spacing: normal;
	color: #999;
	font-size: 15px;
}

/************* INVENTORY AND SUCH *************/
.character_equips {
	width: 184px;
	height: 290px;
	position: relative;
}

.character_pets {
	width: 151px;
	height: 220px;
	position: relative;
}

.character_pets > div {
	position: absolute;
	left: 0;
	top: 0;
}

.character_equips > div > img,
.character_pets_holder > div > img,
.character_totems  > img,
.character_droid  > img,
.job-specific-inventory > div > img {
	position: absolute;
}

/* Potential boxes */
.character_equips > div > div,
.character_pets_holder > div > div,
.character_totems > div {
    height: 31px;
    width: 31px;
}

.character_pets_holder {
	width: 151px;
	height: 220px;
	position: relative;
}

.character_pets_holder > div > img {
	position: absolute;
}


.character_pets_holder select {
    bottom: -2px;
    height: 20px !important;
    left: 8px;
    padding: 0;
    position: absolute;
    width: 135px;
}


/* monster book */
.character_equips .slot55 { top: 28px; left: 10px; margin-bottom: 0px; }

/* medal */
.character_equips .slot49 { top: 61px; left: 10px; margin-bottom: 0px; }

/* pocket  */
.character_equips .slot52 { top: 94px; left: 10px; margin-bottom: 0px; }

/* mantle */
.character_equips .slot9 { top: 127px; left: 10px; margin-bottom: 0px; }

/* gloves */
.character_equips .slot8 { top: 160px; left: 10px; margin-bottom: 0px; }

/* taming mob */
.character_equips .slot18 { top: 226px; left: 10px; margin-bottom: 0px; }








/* cap */
.character_equips .slot1 { top: 28px; left: 43px; margin-bottom: 0px; }

/* face */
.character_equips .slot2 { top: 61px; left: 43px; margin-bottom: 0px; }

/* Eye acc */
.character_equips .slot3 { top: 94px; left: 43px; margin-bottom: 0px; }

/* clothes */
.character_equips .slot5 { top: 127px; left: 43px; margin-bottom: 0px; }

/* pants */
.character_equips .slot6 { top: 160px; left: 43px; margin-bottom: 0px; }

/* emblem */
.character_equips .slot61 { top: 193px; left: 43px; margin-bottom: 0px; }

/* saddle */
.character_equips .slot19 { top: 226px; left: 43px; margin-bottom: 0px; }







/* badge */
.character_equips .slot56 { top: 28px; left: 76px; margin-bottom: 0px; }

/* pendant */
.character_equips .slot17 { top: 127px; left: 76px; margin-bottom: 0px; }

/* 2nd pendent (cash) - Note to Erwin: There's a different UI that this requires (but should be fine without it anyway) */
.character_equips .slot65 { top: 94px; left: 76px; margin-bottom: 0px; }

/* belt */
.character_equips .slot50 { top: 160px; left: 76px; margin-bottom: 0px; }

/* shoes */
.character_equips .slot7 { top: 193px; left: 76px; margin-bottom: 0px; }






/* android */
.character_equips .slot53 { top: 28px; left: 109px; margin-bottom: 0px; }

/* ring 3 */
.character_equips .slot15 { top: 61px; left: 109px; margin-bottom: 0px; }

/* ear acc */
.character_equips .slot4 { top: 94px; left: 109px; margin-bottom: 0px; }

/* weapon */
.character_equips .slot11 { top: 127px; left: 109px; margin-bottom: 0px; }

/* ring 1 */
.character_equips .slot12 { top: 160px; left: 109px; margin-bottom: 0px; }







/* android heart */
.character_equips .slot54 { top: 28px; left: 142px; margin-bottom: 0px; }

/* ring 4 */
.character_equips .slot16 { top: 61px; left: 142px; margin-bottom: 0px; }

/* shoulder */
.character_equips .slot51 { top: 94px; left: 142px; margin-bottom: 0px; }

/* orb / shield */
.character_equips .slot10 { top: 127px; left: 142px; margin-bottom: 0px; }

/* ring 2 */
.character_equips .slot13 { top: 160px; left: 142px; margin-bottom: 0px; }


/* pet thingies */

/* HP POC */
.character_pets .slot24 { top: 22px; left: 10px; margin-bottom: 0px; }

/* MP POC */
.character_pets .slot25 { top: 22px; left: 76px; margin-bottom: 0px; }

/* Item pouch */
.character_pets .slot22 { top: 55px; left: 10px; margin-bottom: 0px; }

/* Meso Magnet */
.character_pets .slot23 { top: 88px; left: 43px; margin-bottom: 0px; }

/* Wing Boots */
.character_pets .slot26 { top: 88px; left: 76px; margin-bottom: 0px; }

/* Equip */
.character_pets .slot14 { top: 88px; left: 109px; margin-bottom: 0px; }

/* Binocular */
.character_pets .slot27 { top: 154px; left: 10px; margin-bottom: 0px; }

/* Smart Pet 1, 2, 3 */
.character_pets .slot62,
.character_pets .slot63,
.character_pets .slot64 { top: 154px; left: 43px; margin-bottom: 0px; }

/* Magic Scales */
.character_pets .slot28 { top: 121px; left: 43px; margin-bottom: 0px; }

/* Item Ignore 1, 2, 3 */
.character_pets .slot46,
.character_pets .slot47,
.character_pets .slot48 { top: 121px; left: 10px; margin-bottom: 0px; }


.character_pets .slot57 { top: 55px; left: 109px; margin-bottom: 0px; }


.character_totems .slot0 { top: 25px; left: 76px; margin-bottom: 0px; }
.character_totems .slot1 { top: 25px; left: 42px; margin-bottom: 0px; }
.character_totems .slot2 { top: 25px; left: 10px; margin-bottom: 0px; }


.job-specific-inventory .coordinate .slot0 { top: 28px; left: 42px; margin-bottom: 0px; } /* Hat */
.job-specific-inventory .coordinate .slot1 { top: 93px; left: 109px; margin-bottom: 0px; } /* Mantle */

.job-specific-inventory .mechanic .slot0 { top: 87px; left: 45px; margin-bottom: 0px; } /* Engine */
.job-specific-inventory .mechanic .slot1 { top: 120px; left: 12px; margin-bottom: 0px; } /* Arm */
.job-specific-inventory .mechanic .slot2 { top: 120px; left: 45px; margin-bottom: 0px; } /* Leg */
.job-specific-inventory .mechanic .slot3 { top: 87px; left: 76px; margin-bottom: 0px; } /* Frame */
.job-specific-inventory .mechanic .slot4 { top: 54px; left: 45px; margin-bottom: 0px; } /* Transistor */

.job-specific-inventory .evan .slot0 { top: 54px; left: 10px; margin-bottom: 0px; } /* Cap */
.job-specific-inventory .evan .slot1 { top: 88px; left: 43px; margin-bottom: 0px; } /* Pendant */
.job-specific-inventory .evan .slot2 { top: 54px; left: 75px; margin-bottom: 0px; } /* Wings */
.job-specific-inventory .evan .slot3 { top: 88px; left: 108px; margin-bottom: 0px; } /* Tail */


.character_droid .slot0 { top: 27px; left: 45px; margin-bottom: 0px; } /* Cap */
.character_droid .slot1 { top: 93px; left: 110px; margin-bottom: 0px; } /* Mantle */
.character_droid .slot2 { top: 61px; left: 77px; margin-bottom: 0px; } /* Face */
.character_droid .slot3 { top: 93px; left: 45px; margin-bottom: 0px; } /* Clothes */
.character_droid .slot4 { top: 127px; left: 45px; margin-bottom: 0px; } /* Pants */
.character_droid .slot5 { top: 127px; left: 77px; margin-bottom: 0px; } /* Shoes */
.character_droid .slot6 { top: 93px; left: 77px; margin-bottom: 0px; } /* Gloves */

.inventory {
	position: relative;
	width: 160px;
	height: 213px;
	overflow-y: scroll;
	margin-left: 5px;
	background: transparent;
	margin-top: 6px;
}

.inventory div {
    height: 32px;
    width: 32px;
	position: absolute;
	border: 1px solid lightgray;
	z-index: 1;
}

.inventory img {
	position: absolute;
	z-index: 2;
}

.inventory .item-amount {
	position: absolute;
	display: block;
	text-align: right;
	width: 32px;
	margin-top: 16px;
	z-index: 3;
	color: black;
	font-size: 12px;
	font-family: Arial;
	font-weight: strong;

	text-shadow:
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}

#inventories {
	width: 172px;
	height: 293px;
}

#inventories select {
    height: 20px !important;
    margin-bottom: 0;
    margin-left: 8px;
    margin-top: 27px;
    padding: 0;
    width: 156px;
}

#inventories #mesos {
	display: inline-block;
	float: right;
	font-size: 10px;
	margin-right: 48px;
}




/************* ITEM STATS *************/

#item_info {
	border: 1px solid rgba(255,255,255,1) !important;
	border-radius: 5px;
	background: rgba(0,0,0,0.8);
	background-image: url('http://mapler.me/inc/img/ui/Item/Frame/cover.png');
	background-position: left top;
	background-repeat: no-repeat;
	padding: 5px;
	position: absolute;
	width: 265px;
	z-index: 100;
	color: rgba(255,255,255,0.8);
	box-shadow: 0 1px 5px rgba(0,0,0,0.55);
}

#item_info #item_info_extra, #item_info #item_info_description {
	margin-bottom: 5px;
}

#item_info #item_info_extra span {
	text-align: center;
	display: block;
	font-size: 12px;
}

#item_info #item_info_description {
	margin-left: 70px;
}

#item_info #item_info_title {
	text-align: center;
	margin-bottom: 5px;
	font-size: 15px;
	color: white;
}

#item_info .icon_holder {
	margin: 0 auto;
	background: url('http://mapler.me/inc/img/ui/Item/ItemIcon/base.png');
	width: 82px;
	height: 82px;
	margin-right: 5px;
	float: left;
	border-radius: 5px;
	overflow: hidden;
}

#item_info_icon {
	padding:5px;
}

#item_info .item_stats, #item_info .item_potential_stats {
	clear: both;
	margin-top: 10px;
}

#item_info .item_stats > table, #item_info .item_potential_stats > table {
	font-size: 11px;
}

#item_info .item_req_stats {
	height: 90px;
	margin-left: 20px;
	overflow: hidden;
	font-size: 9px;
	margin-bottom: 10px;
}
#item_info .item_req_stats > table {
	font-size: 9px;
}

#item_info #bonus_potentials {
	color: white;
}

#item_info #potentials {
	color: white;
}

#item_info .req_job {
	font-size: 9px;
	color: white;
	text-transform: uppercase;
}

#item_info .needed_job {
	color: orange;
}

#item_info #req_job_list {
	clear: both;
	padding-top: 10px;
	padding: 2px;
	border-radius: 3px;
	background-color: rgba(0,0,0,1);
}

#item_info #req_job_list hr {
	margin: 5px 0;
}

#item_info #item_potential_stats {
	display: none;
}

.potential0 {
	border: 1px solid #FF0066 !important;
}

.potential1 {
	border: 1px solid #5CA1FF !important;
}

.potential2 {
	border: 1px solid #C261FF !important;
}

.potential3 {
	border: 1px solid #7FFF00 !important;
}

.potential4 {
	border: 1px solid #37FF00 !important;
}

.potential5 {
	border: 1px solid #FF007F !important;
}


/*********** SKILLS ***********/
#skill_list {
	width: 174px;
	height: 299px;
	position: relative;
}

#skill_list > * {
	margin-left: 10px;
}

.skill_job {
	width: 157px;
	height: 155px;
	overflow-y: scroll;
	top: 92px;
	position: absolute;
}

.skill_line {
	width: 140px;
	height: 1px;
	margin: 2px 0;
}

.skill {
	width: 140px;
	height: 35px;
	position: relative;
	font-size: 10px;
}

.skill .skill_icon {
	float: left;
	margin-left: 1px;
}

.skill_bookname {
	color: white;
	font-size: 16px;
	top: 50px;
	position: absolute;
	padding-left: 5px;
	width: 157px;
}

.skill_bookname .book_title {
	color: white;
	font-size: 12px;
	display: block;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	height: 35px;
}

.skill_bookname .book_icon {
	float: left;
	margin-top: 3px;
}

.skill .skill_title {
	position: absolute;
	left: 41px;
	white-space: nowrap;
}

.skill .skill_level {
	position: absolute;
	left: 41px;
	top: 16px;
	white-space: nowrap;
}

.skilllist_selector {
	height: 20px;
	margin-bottom: 0;
	padding: 0;
	position: absolute;
	top: 24px;
	width: 155px;
}

.skill_sp {
	bottom: 29px;
	font-size: 12px;
	position: absolute;
	right: 12px;
}

/*  Additions */
.fb_iframe_widget span {
	vertical-align: inherit !important;
}