/** Layout And Stuffs **/

.avatar {
	width:200px;
}

.h {
	position: relative;
	max-width: none;
	left: -31px;
	top: -14px;
}

.location {
	background: url('http://puu.sh/3cc4q.png');
	background-position: center -30px;
	max-width:210px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.18),0 0 5px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.18),0 0 5px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.18),0 0 5px 0 rgba(0,0,0,0.2);
	margin: 0px auto 20px;
	border-radius: 3px;
	height: 200px;
}

.name {
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	font-size: 26px;
	letter-spacing: 1px;
}

.name_extra {
	font-weight: 200;
	letter-spacing: normal;
	font-size: 15px;
}

hr {
	margin: 0 auto;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #CCC;
	width: 95%;
	margin-top: 15px;
	margin-bottom: 15px;
	clear: both;
}

.visibility-toggler {
	display: block;
	position: absolute;
	z-index: 10000;
}

.side {
	font-weight: 200;
	letter-spacing: normal;
	font-size: 15px;
}

/************* INVENTORY AND SUCH *************/
.character_equips {
	width: 184px;
	height: 290px;
	position: relative;
}

.character_pets {
	width: 151px;
	height: 220px;
	position: relative;
}

.character_pets > div {
	position: absolute;
	left: 0;
	top: 0;
}

.character_equips > div > img,
.character_pets_holder > div > img,
.character_totems  > img,
.character_droid  > img,
.job-specific-inventory > div > img {
	position: absolute;
}

/* Potential boxes */
.character_equips > div > div,
.character_pets_holder > div > div,
.character_totems > div {
	height: 31px;
	width: 31px;
}

.potential1,
.potential2,
.potential3,
.potential4,
.potential5 {
	height: 31px;
	width: 31px;
}

.character_pets_holder {
	width: 151px;
	height: 220px;
	position: relative;
}

.character_pets_holder > div > img {
	position: absolute;
}


.character_pets_holder select {
	bottom: -2px;
	height: 20px !important;
	left: 8px;
	padding: 0;
	position: absolute;
	width: 135px;
}


.character_totems .slot0 { top: 25px; left: 76px; margin-bottom: 0px; }
.character_totems .slot1 { top: 25px; left: 42px; margin-bottom: 0px; }
.character_totems .slot2 { top: 25px; left: 10px; margin-bottom: 0px; }


.inventory {
	background: none repeat scroll 0 0 transparent;
	height: 141px;
	margin-left: 6px;
	margin-top: 4px;
	overflow-y: scroll;
	position: relative;
	width: 305px;
}

.inventory div {
	height: 32px;
	width: 32px;
	position: absolute;
	z-index: 1;
}

.inventory img {
	position: absolute;
	z-index: 2;
}

.inventory .item-amount {
	position: absolute;
	display: block;
	text-align: right;
	width: 32px;
	margin-top: 16px;
	z-index: 3;
	color: black;
	font-size: 12px;
	font-family: Arial;
	font-weight: strong;

	text-shadow:
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}

#inventories {
	width: 321px;
	height: 227px;
}

#inventories select {
	height: 20px !important;
	margin-bottom: 0;
	margin-left: 8px;
	margin-top: 27px;
	padding: 0;
	width: 306px;
	padding-right: 2px;
}

#inventories .mesos {
	color: #000000;
	display: inline-block;
	font-size: 10px;
	margin-left: 28px;
	margin-top: 4px;
	text-align: right;
	width: 73px;
	padding-right: 2px;
}

#inventories .maplepoints {
	color: #000000;
	display: inline-block;
	font-size: 10px;
	margin-left: 62px;
	margin-top: 4px;
	text-align: right;
	width: 75px;
	padding-right: 2px;
}




/************* ITEM STATS *************/

#item_info {
	border: 1px solid rgba(255,255,255,1) !important;
	border-radius: 10px;
	background: rgba(0,0,0,0.8);
	background-image: url('http://mapler.me/inc/img/ui/Item/Frame/cover.png');
	background-position: left top;
	background-repeat: no-repeat;
	padding: 10px;
	position: absolute;
	width: 265px;
	z-index: 100;
	color: rgba(255,255,255,0.8);
	box-shadow: 0 1px 5px rgba(0,0,0,0.55);
	height: auto;
}

#item_info #item_info_extra, #item_info #item_info_description {
	margin-bottom: 5px;
}

#item_info #item_info_extra > span {
	text-align: center;
	display: block;
	font-size: 12px;
	color: orange;
}

#item_info #extra_item_info {
	font-size: 12px;
}

#item_info #item_info_description {
	margin-left: 95px;
}

#item_info #item_info_title {
	text-align: left;
	margin-bottom: 5px;
	font-size: 13px;
	color: white;
	font-weight: bold;
	padding-left: 7px;
	background: url('/inc/img/ui/Item/Frame/title-bg-dot.png') left center;
	background-repeat: no-repeat;
}

#item_info .dotline {
	background: url('/inc/img/ui/Item/Frame/dotline_custom.png');
	background-repeat: repeat-x;
	height: 2px;
	margin: 4px -9px;
}

#item_info .stat-diff-info {
	color: gray;
}

#item_info .icon_holder {
	margin: 0 auto;
	background: url('http://mapler.me/inc/img/ui/Item/ItemIcon/base.png');
	width: 82px;
	height: 82px;
	margin-right: 5px;
	float: left;
	border-radius: 5px;
	overflow: visible;
	position: relative;
}

#item_info .icon_holder > .potential1 {
	
}

#item_info .icon_holder > .cover {
	background: url('http://mapler.me/inc/img/ui/Item/ItemIcon/cover.png') center center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	width: 82px;
	height: 82px;
}

#item_info_icon {
	padding:5px;
}

#item_info .item_stats, #item_info .item_potential_stats {
	clear: both;
}

#item_info .item_stats > p, #item_info .item_potential_stats > p {
	font-size: 11px;
	line-height: 10px;
}

#item_info .item_stats > p, #item_info .item_potential_stats > p {
	font-size: 11px;
	line-height: 10px;
}

#item_info .item_req_stats {
	margin-left: 95px;
	overflow: hidden;
	font-size: 11px;
	margin-bottom: 10px;
	line-height: 10px;
}
#item_info .item_req_stats > table {
	font-size: 11px;
}

#item_info #bonus_potentials {
	color: white;
}

#item_info #potentials {
	color: white;
}

#item_info .req_job {
	font-size: 9px;
	color: white;
	text-transform: uppercase;
}

#item_info .needed_job {
	color: orange;
}

#item_info #req_job_list {
	clear: both;
	padding-top: 10px;
	padding: 2px;
	border-radius: 3px;
	background-color: rgba(0,0,0,1);
	margin-bottom: 10px;
	margin-top: 10px;
}

#item_info #req_job_list hr {
	margin: 5px 0;
}

#item_info hr {
	padding: 0;
	margin: 4px 6px;
}

#item_info #item_potential_stats {
	display: none;
}

.potential0 {
	border: 1px solid #FF0066 !important;
}

.potential1 {
	border: 1px solid #5CA1FF !important;
}

.potential2 {
	border: 1px solid #C261FF !important;
}

.potential3 {
	border: 1px solid #7FFF00 !important;
}

.potential4 {
	border: 1px solid #37FF00 !important;
}

.potential5 {
	border: 1px solid #FF007F !important;
}


/*********** SKILLS ***********/
#skill_list {
	width: 174px;
	height: 299px;
	position: relative;
}

#skill_list > * {
	margin-left: 10px;
}

.skill_job {
	width: 157px;
	height: 155px;
	overflow-y: scroll;
	top: 92px;
	position: absolute;
}

.skill_line {
	width: 140px;
	height: 1px;
	margin: 2px 0;
}

.skill {
	width: 140px;
	height: 35px;
	position: relative;
	font-size: 10px;
	color: #000;
}

.skill .skill_icon {
	float: left;
	margin-left: 1px;
}

.skill_bookname {
	color: white;
	font-size: 16px;
	top: 50px;
	position: absolute;
	padding-left: 5px;
	width: 157px;
}

.skill_bookname .book_title {
	color: white;
	font-size: 12px;
	display: block;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	height: 35px;
}

.skill_bookname .book_icon {
	float: left;
	margin-top: 3px;
}

.skill .skill_title {
	position: absolute;
	left: 41px;
	white-space: nowrap;
}

.skill .skill_level {
	position: absolute;
	left: 41px;
	top: 16px;
	white-space: nowrap;
}

.skilllist_selector {
	height: 20px;
	margin-bottom: 0;
	padding: 0;
	position: absolute;
	top: 24px;
	width: 155px;
}

.skill_sp {
	bottom: 29px;
	font-size: 12px;
	position: absolute;
	right: 12px;
}

/*	Additions */
.fb_iframe_widget span {
	vertical-align: inherit !important;
}