<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	Options +Indexes
	RewriteEngine On
	
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.php -f 
	RewriteRule ^(.*)([^/]*)$ $1.php [QSA]
	
	RewriteRule ^poll/([^\./]*) poll.php?id=$1 [L,QSA]
	
</IfModule>

Options -Indexes