<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	Options +Indexes
	RewriteEngine On
	RewriteBase /

	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteCond %{REQUEST_FILENAME}\.php -f 
	RewriteRule ^(.*)([^/]*)$ $1.php [QSA]
</IfModule>

Options -Indexes

ErrorDocument 400 /error/_error_document_.php
ErrorDocument 401 /error/_error_document_.php
ErrorDocument 403 /error/_error_document_.php
ErrorDocument 404 /error/_error_document_.php
ErrorDocument 500 /error/_error_document_.php