<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	Options +Indexes
	RewriteEngine On
	RewriteBase /

	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteCond %{REQUEST_FILENAME}\.php -f 
	RewriteRule ^(.*)([^/]*)$ $1.php [QSA]
</IfModule>

Options -Indexes

ErrorDocument 400 /actions/error/index.php
ErrorDocument 401 /actions/error/index.php
ErrorDocument 403 /actions/error/index.php
ErrorDocument 404 /actions/error/index.php
ErrorDocument 500 /actions/error/index.php