<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	Options +Indexes
	RewriteEngine On
	RewriteBase /

	# Status APIs
	RewriteRule ^api/list/(.*)/(.*)/$ /ajax/status.php?type=list&lastpost=$1&mode=$2
	RewriteRule ^api/blog/$ /ajax/status.php?type=blog
	RewriteRule ^api/status/delete/(\d+)/$ /ajax/status.php?type=delete&id=$1
	RewriteRule ^api/status/post/$ /ajax/status.php?type=post
	RewriteRule ^api/status/(.*)/$ /ajax/status.php?type=responses&statusid=$1
	
	# Info Syncing
	RewriteRule ^ajax/sync/$ /ajax/polling.php?type=info
	
	
	RewriteRule ^friends/$ friends.php [L,QSA]
	RewriteRule ^characters/$ characters.php [L,QSA]
</IfModule>

Options -Indexes

ErrorDocument 400 /errors/_error_document_.php
ErrorDocument 401 /errors/_error_document_.php
ErrorDocument 403 /errors/_error_document_.php
ErrorDocument 404 /errors/_error_document_.php
ErrorDocument 500 /errors/_error_document_.php

AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
<FilesMatch "\.(ttf|otf|eot)$">
<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>
</FilesMatch>